footer{
    background-color: #070707;
    padding: 0.5rem 0 2rem 0;
    margin: 0;
}

.social-media{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0.5rem 0;
    gap: 2rem;
}

.footer-links a,
.social-media a{
    border: 2px solid white;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.5rem 1rem;
    font-weight: 600;
    font-size: 1.1rem;
    gap: 10px;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    transition: all 0.3s ease;
    background-color: transparent;
}

.footer-links a:hover,
.social-media a:hover{
    background-color: white;
    color: black;
    transform: translateY(-2px);
}
.footer-links{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    margin-top: 1rem;
}
footer p{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: #a1a1a1;
    font-size: 0.9rem;
    margin: 0.5rem 0;
}
footer p img{
    
    right: 50%;
    width: 30px;
    height: 30px;
}

.icons{
    width: 20px;
    height: 20px;

}
.footer-credits{
    padding: 0 10px;
    
}
@media (max-width: 769px) {
    .social-media a{
        font-size: 1rem;
    }
    .social-media{
        flex-direction: column;
        gap: 1rem;
    }
    
    footer p{
        font-size: 0.8rem;
        flex-direction: column;
        gap: 0.5rem;
    }
    
    footer p img{
        width: 25px;
        height: 25px;
    }
}

